# env
/__pycache__
/wiki-search

# embedding models
/bert*
/hkunlp*
/sentence-transformers*

# database(s)
/data
/vector_data
/bag_of_words

# intermediate metadata
/metadata

# preprocess state files
preprocess_state_bow.txt
preprocess_state_vector.txt

# xml test file(s)
*.xml

# test data for test scripts
pages-articles-multistream10*